button {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 17px;
    background-color: $button-color;
    background-color: #1a1a1a;
    color: $button-text-color;
    cursor: pointer;
    text-align: center;
    transition: border-color 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3b3b3b;

    transition: all 0.3s ease-in-out;

    svg {
        font-size: 1.2em;
    }
}
button:hover {
    background-color: #646cff;
    color: #fafafa;
}

.icon {
    border-radius: 50%;
    padding: 0.7rem;
}