@import "node_modules/react-datepicker/src/stylesheets/datepicker.scss";


.react-datepicker-wrapper {
    margin-right: 1rem;
    font-family: 'SFPro', sans-serif;
    
}
.react-datepicker__input-container {
    input {
        outline: none;
        border-radius: 1rem;
        height: 40px;
        padding: 8px 12px;
        width: 100%;
        font-family: 'SFPro', sans-serif;
    }
}

.react-datepicker__day--selected {
    background-color: #646cff;
    
}
.react-datepicker__header {
    background-color: #fff;
}

.react-datepicker__month-container {
    background-color: #fafafa;
    color: #969eac;
    font-size: 1rem;
    border-radius: 1rem;
    font-family: "Mulish";

    .react-datepicker__month {
        padding: 1rem 0;
    }

    .react-datepicker__month-text {
        display: inline-block;
        width: 5rem;
        margin: 0.5rem;
        font-size: 1rem;
        padding: 0.2rem;
        &:hover {
            background-color: #534cea;
        }
    }
}
