.header-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: .5rem;
    background: #7c7c7c;
    z-index: 999;
    border-radius: 1rem;
    &__menu {
       
    }

    &__item {

    }
}
