.products {
    &__list {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
    }
}

.product-info {
    margin-top: 1rem;
}
